<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.edu.user.mapper.UserMapper">
    <select id="findUserByUserId" parameterType="bit.edu.user.dto.UserLoginDto" resultType="bit.edu.user.dto.UserDetailsDto">
        SELECT u.user_no AS userNo, u.user_id AS userId, a.auth_name
        FROM User AS u
            INNER JOIN User_Auth AS ua ON u.user_no = ua.user_no
            INNER JOIN Auth AS a ON ua.auth_no = a.auth_no
        WHERE user_id = #{userId} AND user_pwd = #{userPwd};
    </select>



</mapper>
